.header,
.nav,
.main,
.sidebar,
.advertise,
.footer {
    background-color: aqua;
    border: 2px solid magenta;
    border-radius: 8px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.advertise {
    grid-area: advertise;
}

.footer {
    grid-area: footer;
}

.contain {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header  header  header  header"
        "nav     main    main    sideber"
        "nav     main    main    advertise"
        "footer  footer  footer  footer"
    ;
}

@media screen and (max-width:576px) {

    .contain {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "sidebar"
            "advertise"
            "footer"
        ;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {
    .contain {
        grid-template-areas:
            "header     header      header"
            "nav        nav         nav"
            "sidebar    main        main"
            "advertise  footer      footer"
        ;
    }
}